<div class="container">
  <h1 class="my-3 text-center">Add New Review</h1>
  <div class="d-flex flex-column align-items-center mt-5">  
    <div class="w-50">
      <%= render 'form', review: @review %>
    </div>
  </div>
</div>